VITE_SUPABASE_URL=https://ovogoacobyvhhtmoppun.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92b2dvYWNvYnl2aGh0bW9wcHVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzMDk3MjMsImV4cCI6MjA5ODg4NTcyM30.phJ3m5mSu-1c_8q12lYsLQSr1MbRuH0unjHvyHbRBGE
